.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  padding: 1em;
  color: #fff;
}

.app > h1 {
  text-align: center;
  color: gray;
}

ul {
  padding: 0;
  margin: 0;
}

.tabs button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.7em;
}

button.active {
  border-bottom: aqua 0.125em solid;
}

.content {
  display: flex;
  flex-direction: row;

  padding: 0;
}

.spec-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 0.2em;
}

.spec-container > h2 {
  background-color: aqua;
}

.spec-container:nth-of-type(2) > h2 {
  padding-left: 0.4em;
}

.container > p {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

.spec-container:first-of-type h2 {
  background: linear-gradient(to right, #242424, aqua);
}

.spec-list > h3 {
  text-transform: uppercase;
}

.spec-list li {
  list-style-type: none;
}

@media (max-width: 600px) {
  body {
    font-size: 0.7em;
  }

  .content {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 0.9em;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 1em;
  }

  .content {
    width: 80%;
  }
}
