.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  padding: 1em;
  color: #fff;
  background-color: #242424;

  height: 100%;
}

.app > h1 {
  text-align: center;
  color: gray;
  margin-bottom: 1em;
}

.tabs button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 0.7em;

  border: none;
  background: transparent;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: aqua 0.125em solid;
  /* color: aqua */
}

.content {
  display: flex;
  flex-direction: row;

  padding: 0;
}

.spec-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 0.2em;
}

.spec-container > h2 {
  background-color: aqua;
}

.spec-container:nth-of-type(2) > h2 {
  padding-left: 0.4em;
}

.spec-container > p {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

.spec-container:first-of-type h2 {
  background: linear-gradient(to right, #242424, aqua);
}

.spec-list h3 {
  text-transform: uppercase;

  margin: 0;
}

.spec-list p {
  margin-top: 0.3em;
}

.spec-list {
  padding: 0;
  margin: 0;
}

.spec-list li {
  list-style-type: none;
  margin-top: 1.5em;
}

@media (max-width: 600px) {
  html {
    font-size: 0.7em;
  }

  .content {
    width: 100%;
    /* flex-wrap: wrap; */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 0.85em;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 1em;
  }

  .content {
    width: 80%;
    flex-wrap: nowrap;
  }
}
